---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import Github from '../components/icons/github-icon.astro';
import Linkedin from '../components/icons/linkedin-icon.astro';

import ProfileImage from '../resources/Profile-Image.png';
import CV from '../resources/Leidy Marcela Álvarez Mejía.pdf';
---

<Layout title="Leidy Álvarez - Desarrolladora Frontend">
  <main class="bg-falcon-950 w-screen h-screen">
    <section class="w-full h-screen flex items-center justify-evenly">
      <div class="w-6/12 bg-falcon-200 h-64 p-4 rounded-2xl text-falcon-950">
        <h2 class="text-xl font-bold">Leidy Álvarez</h2>
        <h4 class="font-bold">Desarrolladora Frontend</h4>
        <br />
        <p>
          Desarrolladora front-end con 4 años de experiencia desarrollando
          interfaces de usuario atractivas y funcionales. Cuento con sólidos
          conocimientos en HTML, CSS, JavaScript y TypeScript, además, estoy
          familiarizada con frameworks como React y Next.js; usando herramientas
          como Vitejs.
        </p>
        <div class="flex space-x-4 mt-2">
          <a
            href={CV}
            download
            class="bg-falcon-300 hover:bg-falcon-400 p-2 font-bold rounded-md hover:cursor-pointer"
          >
            CV
          </a>
          <a
            href="https://github.com/LeidyAl"
            target="_blank"
            class="bg-falcon-300 hover:bg-falcon-400 p-2 font-bold rounded-md hover:cursor-pointer"
          >
            <Github />
          </a>
          <a
            href="https://www.linkedin.com/in/leidy-marcela-álvarez-mejía/"
            target="_blank"
            class="bg-falcon-300 hover:bg-falcon-400 p-2 font-bold rounded-md hover:cursor-pointer"
          >
            <Linkedin />
          </a>
        </div>
      </div>
      <div
        class="w-64 h-64 bg-falcon-200 rounded-full overflow-hidden flex justify-center items-end"
      >
        <Image class="w-44" alt="Fotografía Leidy Álvarez" src={ProfileImage} />
      </div>
    </section>
  </main>
</Layout>
